/********GLOBAL*********/
html {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: #FFEBCD;
    text-align: justify;
}

a {
    text-decoration: none;
    color: navajowhite;
}

h2 {
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: maroon;
}

p {
    font-size: larger;
}

/********Header*********/
.header-index {
    width: 1288px;
    height: 4vh;
    background-color: maroon;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 28px 30px;
    color: navajowhite;
    gap: 500px;

    position: absolute;
    left: 0px;
    top: 0px;
}

.div-titulo-index {
    font-size: 2em;
    width: 400px;
    height: 35px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav-index {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 225px;
    height: 15px;
    gap: 20px;

}

.nav-link-index {
    width: 133px;
    height: 43px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/*****Me-section*****/

.me-section-index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 125px;

    position: absolute;
    width: 1284px;
    height: 318px;
    left: 0px;
    top: 70px;

    background-color: #FFE4C4;

}

.div-img-index {
    border-radius: 150px;
    width: 300px;
    height: 300px;
    background-image: url(assets/arthur_foto.png);
    max-width: 100%;
}

.me-text-index {
    width: 614px;
    height: 186px;

    flex: none;
    order: 1;
    flex-grow: 0;
    }

.div-subtitle-index {
    position: absolute;
    width: 132px;
    height: 400x;
    left: 600px;
    top: 70px;
}

.div-paragraph-index {
    width: 420px;
    height: 160px;
    position: absolute;
    left: 600px;
    top: 130px;
}


/******Lists Section*******/

.section-lists-index {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 34px;
    padding: 22px;
    position: absolute;
    width: 1303px;
    height: 280px;
    left: 0px;
    top: 447px;
}

.div-lists-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
    height: 249px;
    gap: 10px;
    padding: 20px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.div-lists-index:first-child {
    align-items: flex-end ;
}

.div-subtitle-hobbie {
    width: 173px;
    height: 33px;
}

.div-subtitle-movie {
    width: 224px;
    height: 33px;
}

.list {
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-end;
padding: 0px;
gap: 20px;
width: 545px;
height: 150px;
filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.50));
flex: none;
order: 1;
flex-grow: 0;
}

.card-index {
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 17px;
gap: 10px;
width: 60px;
height: 80px;
background: #FFE4C4;
border-radius: 10px;
flex: none;
order: 3;
flex-grow: 0;
white-space: pre-wrap;
}

.footer-index {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 30px;
gap: 900px;

background: maroon;
position: absolute;
height: 50px;
left: 0px;
right: 0px;
bottom: -250px;
}

.section-links-footer {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.section-contact-link-footer {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 162px;
    height: 38px;

}

@media only screen and (max-width: 428px) {

    /********GLOBAL*********/
    html {
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        background-color: #FFEBCD;
        text-align: justify;
    }

    a {
        text-decoration: none;
        color: navajowhite;
    }

    h2 {
        font-weight: bold;
        font-size: 28px;
        line-height: 40px;
        color: maroon;
    }

    p {
        font-size: larger;
    }

    /********Header*********/
    .header-index {
        width: 428px;
        height: 4vh;
        background-color: maroon;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
        color: navajowhite;
        gap: 10px;

        position: absolute;
        left: 0px;
        top: 0px;
    }

    .div-titulo-index {
        font-size: 1.2em;
        width: 200px;
        height: 25px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .nav-index {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: 50px;
        height: 15px;
        gap: 20px;
        font-size: smaller;
    }

    .nav-link-index {
        width: 133px;
        height: 43px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    /*****Me-section*****/

    .me-section-index {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 32px;
        gap: 33px;

        position: absolute;
        width: 431px;
        height: 584px;
        left: 0px;
        top: 111px;
        background-color: #FFE4C4;

    }

    .div-img-index {
        background: url(assets/arthur_foto.png);
        width: 247px;
        height: 247px;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .me-text-index {
        width: 333.5px;
        height: 242.5px;

        flex: none;
        order: 1;
        flex-grow: 0;
        }

    .div-subtitle-index {
        position: absolute;
        left: 0%;
        right: -56.13%;
        top: 45%;
        bottom: 30.24%;
    }

    .div-paragraph-index {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 53%;
        bottom: 3.94%;
        width: 90vw;
        padding: 2%;
    }


    /******Lists Section*******/

    .section-lists-index {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;

        position: absolute;
        width: 431px;
        height: 890px;
        left: 0px;
        top: 550px;
    }

    .div-lists-index {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        gap: 10px;

        width: 428px;
        height: 300px;

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .div-subtitle-hobbie {
        width: 408px;
        height: 33px;

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .div-subtitle-movie {
        width: 224px;
        height: 33px;
    }

    .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 0px;
        gap: 10px;
        width: 300px;
        height: 280px;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    .card-index {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 17px;
        gap: 10px;
        width: 50px;
        height: 100px;
        background: #DFDFDF;
        border-radius: 5px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .footer-index {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px 32px;
        gap: 25px;
        
        position: absolute;
        height: 127px;
        left: 1px;
        right: 0px;
        bottom: 0px;
        top: 1500px;
        background: maroon;
}

    .section-links-footer {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .section-contact-link-footer {
        display: flex;
        flex-direction: row;
        padding: 6px 12px;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 162px;
        height: 38px;

    }

    }